RAILS_ENV=development
RAILS_MASTER_KEY=f8a673817784b4e819805e1fb8a50d78
RAILS_LOG_LEVEL=info
RAILS_MAX_THREADS=5

TIENDA_NUBE_STORE_ID=123456
TIENDA_NUBE_ACCESS_TOKEN=tu_access_token_aqui

HOST=localhost:3000
PORT=3000
FORCE_SSL=false

WEB_CONCURRENCY=2
SOLID_QUEUE_IN_PUMA=true
